<div class="relative bg-white">
  <div class="bg-indigo-200 pt-8">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 sm:py-32 py-16">
      <div class="grid grid-cols-12 sm:gap-x-16 gap-x-0 gap-y-8">
        <div class="sm:col-span-6 col-span-12">
          <h1 class="text-gray-800 text-5xl font-black leading-tight mb-4">
            Modern online and offline payments for Africa
          </h1>
          <h3 class="text-xl font-light text-gray-600 leading-relaxed">
            Paystack helps businesses in Africa get paid by anyone, anywhere in
            the world
          </h3>

          <div class="sm:mt-12 mt-10">
            <a
              class="px-8 py-3 bg-indigo-600 text-white rounded-md"
              [routerLink]="['auth/register']"
            >
              Create an account
            </a>
          </div>
        </div>
        <div class="sm:col-span-6 col-span-12"></div>
      </div>
    </div>
  </div>

  <div class="bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 sm:py-16 py-8">
      <h1
        class="sm:text-6xl text-4xl font-black text-gray-800 text-center sm:mb-24 mb-16"
      >
        4
        <span class="text-indigo-600">REASONS</span> TO CHOOSE
        <span class="text-indigo-600">SBSC</span>
      </h1>

      <div class="grid grid-cols-12 sm:gap-x-16 gap-x-0 gap-y-8">
        <div class="sm:col-span-6 col-span-12 space-y-8">
          <div class="flex items-start">
            <div class="sm:w-20 w-16 shrink-0 mr-4">
              <mat-icon
                aria-hidden="false"
                aria-label="icon"
                class="text-6xl text-indigo-600 material-symbols-outlined"
              >
                camera
              </mat-icon>
            </div>
            <div>
              <h2 class="text-2xl text-gray-700 font-bold mb-2">EXPERIENCE</h2>
              <h3 class="text-lg text-gray-500 mb-4">
                Insightful analytics & performance in realtime
              </h3>

              <p class="text-gray-700 leading-7">
                With every engagement, our qualified consultants implement best
                practices and knowledge acquired from the years they spent
                working in consulting and corporate environments. In fact, our
                leadership team and consultants have worked in the financial
                sector for most, if not all, of their careers.
              </p>
            </div>
          </div>

          <div class="flex items-start">
            <div class="sm:w-20 w-16 shrink-0 mr-4">
              <mat-icon
                aria-hidden="false"
                aria-label="icon"
                class="text-6xl text-indigo-600"
              >
                rocket
              </mat-icon>
            </div>
            <div>
              <h2 class="text-2xl text-gray-700 font-bold mb-2">FLEXIBILITY</h2>
              <h3 class="text-lg text-gray-500 mb-4">
                We are with you all the way
              </h3>

              <p class="text-gray-700 leading-7">
                With every engagement, our qualified consultants implement best
                practices and knowledge acquired from the years they spent
                working in consulting and corporate environments. In fact, our
                leadership team and consultants have worked in the financial
                sector for most, if not all, of their careers.
              </p>
            </div>
          </div>
        </div>

        <div class="sm:col-span-6 col-span-12 space-y-8">
          <div class="flex items-start">
            <div class="sm:w-20 w-16 shrink-0 mr-4">
              <mat-icon
                aria-hidden="false"
                aria-label="icon"
                class="text-6xl text-indigo-600"
              >
                coffee
              </mat-icon>
            </div>
            <div>
              <h2 class="text-2xl text-gray-700 font-bold mb-2">TRANSFER</h2>
              <h3 class="text-lg text-gray-500 mb-4">
                Distance is no barrier with us
              </h3>

              <p class="text-gray-700 leading-7">
                With every engagement, our qualified consultants implement best
                practices and knowledge acquired from the years they spent
                working in consulting and corporate environments. In fact, our
                leadership team and consultants have worked in the financial
                sector for most, if not all, of their careers.
              </p>
            </div>
          </div>

          <div class="flex items-start">
            <div class="sm:w-20 w-16 shrink-0 mr-4">
              <mat-icon
                aria-hidden="false"
                aria-label="icon"
                class="text-6xl text-indigo-600"
              >
                token
              </mat-icon>
            </div>
            <div>
              <h2 class="text-2xl text-gray-700 font-bold mb-2">EASY TO USE</h2>
              <h3 class="text-lg text-gray-500 mb-4">
                Get started with ease, nothing is more seamless
              </h3>

              <p class="text-gray-700 leading-7">
                With every engagement, our qualified consultants implement best
                practices and knowledge acquired from the years they spent
                working in consulting and corporate environments. In fact, our
                leadership team and consultants have worked in the financial
                sector for most, if not all, of their careers.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-yellow-100">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 sm:py-32 py-16">
      <div class="mb-8">
        <h1 class="text-indigo-800 text-5xl font-black leading-tight mb-4">
          Backed by strong global partners
        </h1>
        <h2 class="text-yellow-700 text-lg leading-8">
          Paystack is backed by notable investors as well as some of the best
          payments companies on the planet.
        </h2>
      </div>

      <div class="grid grid-cols-12 sm:gap-x-16 gap-x-0 gap-y-8">
        <div
          *ngFor="let item of [1, 3, 4]"
          class="sm:col-span-4 col-span-12 bg-white rounded-xl shadow-md px-8 py-12"
        >
          <h2 class="text-gray-700 uppercase font-bold mb-2">EASY TO USE</h2>
          <h3 class="text-2xl text-gray-700 font-black mb-4">
            Get started with ease, Nothing is more seamless.
          </h3>

          <p class="text-gray-700 leading-7">
            With every engagement, our qualified consultants implement best
            practices and knowledge acquired from the years they spent working
            in consulting and corporate environments.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
