<div class="relative bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 sm:py-16 py-8">
    <h1 class="sm:text-6xl text-4xl font-black text-gray-800 text-center mb-24">
      4
      <span class="text-indigo-600">REASONS</span> TO CHOOSE
      <span class="text-indigo-600">SBSC</span>
    </h1>

    <div class="grid grid-cols-12 sm:gap-x-16 gap-x-0 gap-y-8">
      <div class="sm:col-span-6 col-span-12 space-y-8">
        <div class="flex items-start">
          <div class="w-20 shrink-0 mr-4">
            <img class="h-24" src="assets/images/one.png" alt="" />
          </div>
          <div>
            <h2 class="text-2xl text-gray-700 font-bold mb-2">EXPERIENCE</h2>
            <h3 class="text-lg text-orange-500 mb-4">
              REAL-WORLD EXPERIENCE FIRST-HAND KNOWLEDGE
            </h3>

            <p class="text-gray-700 leading-7">
              With every engagement, our qualified consultants implement best
              practices and knowledge acquired from the years they spent working
              in consulting and corporate environments. In fact, our leadership
              team and consultants have worked in the financial sector for most,
              if not all, of their careers.
            </p>
          </div>
        </div>

        <div class="flex items-start">
          <div class="w-20 shrink-0 mr-4">
            <img class="w-20" src="assets/images/three.png" alt="" />
          </div>
          <div>
            <h2 class="text-2xl text-gray-700 font-bold mb-2">FLEXIBILITY</h2>
            <h3 class="text-lg text-orange-500 mb-4">
              REAL-WORLD EXPERIENCE FIRST-HAND KNOWLEDGE
            </h3>

            <p class="text-gray-700 leading-7">
              With every engagement, our qualified consultants implement best
              practices and knowledge acquired from the years they spent working
              in consulting and corporate environments. In fact, our leadership
              team and consultants have worked in the financial sector for most,
              if not all, of their careers.
            </p>
          </div>
        </div>
      </div>

      <div class="sm:col-span-6 col-span-12 space-y-8">
        <div class="flex items-start">
          <div class="w-20 shrink-0 mr-4">
            <img class="h-20" src="assets/images/two.png" alt="" />
          </div>
          <div>
            <h2 class="text-2xl text-gray-700 font-bold mb-2">TRANSFER</h2>
            <h3 class="text-lg text-orange-500 mb-4">
              REAL-WORLD EXPERIENCE FIRST-HAND KNOWLEDGE
            </h3>

            <p class="text-gray-700 leading-7">
              With every engagement, our qualified consultants implement best
              practices and knowledge acquired from the years they spent working
              in consulting and corporate environments. In fact, our leadership
              team and consultants have worked in the financial sector for most,
              if not all, of their careers.
            </p>
          </div>
        </div>

        <div class="flex items-start">
          <img class="w-20 mr-4 shrink-0" src="assets/images/four.png" alt="" />
          <div>
            <h2 class="text-2xl text-gray-700 font-bold mb-2">EASY TO USE</h2>
            <h3 class="text-lg text-orange-500 mb-4">
              REAL-WORLD EXPERIENCE FIRST-HAND KNOWLEDGE
            </h3>

            <p class="text-gray-700 leading-7">
              With every engagement, our qualified consultants implement best
              practices and knowledge acquired from the years they spent working
              in consulting and corporate environments. In fact, our leadership
              team and consultants have worked in the financial sector for most,
              if not all, of their careers.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
