<div class="relative bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 py-16">
    <h1 class="text-6xl font-black text-gray-800 text-center mb-24">
      4 REASONS TO CHOOSE SBSC
    </h1>

    <div class="grid grid-cols-12 gap-x-16 gap-y-8">
      <div class="sm:col-span-6 col-span-12 space-y-8">
        <div class="flex items-start">
          <div class="w-20 shrink-0 mr-4">
            <img class="h-24" src="assets/images/one.png" alt="" />
          </div>
          <div>
            <h2 class="text-2xl font-bold">EXPERIENCE</h2>
            <h3 class="text-lg font-bold text-gray-600 mb-4">
              REAL-WORLD EXPERIENCE FIRST-HAND KNOWLEDGE
            </h3>

            <p class="text-gray-700">
              With every engagement, our qualified consultants implement best
              practices and knowledge acquired from the years they spent working
              in consulting and corporate environments. In fact, our leadership
              team and consultants have worked in the financial sector for most,
              if not all, of their careers.
            </p>
          </div>
        </div>

        <div class="flex items-start">
          <div class="w-20 shrink-0 mr-4">
            <img class="w-20" src="assets/images/three.png" alt="" />
          </div>
          <div>
            <h2 class="text-2xl font-bold">EXPERIENCE</h2>
            <h3 class="text-lg font-bold text-gray-600 mb-4">
              REAL-WORLD EXPERIENCE FIRST-HAND KNOWLEDGE
            </h3>

            <p class="text-gray-700">
              With every engagement, our qualified consultants implement best
              practices and knowledge acquired from the years they spent working
              in consulting and corporate environments. In fact, our leadership
              team and consultants have worked in the financial sector for most,
              if not all, of their careers.
            </p>
          </div>
        </div>
      </div>

      <div class="sm:col-span-6 col-span-12 space-y-8">
        <div class="flex items-start">
          <div class="w-20 shrink-0 mr-4">
            <img class="h-20" src="assets/images/two.png" alt="" />
          </div>
          <div>
            <h2 class="text-2xl font-bold">EXPERIENCE</h2>
            <h3 class="text-lg font-bold text-gray-600 mb-4">
              REAL-WORLD EXPERIENCE FIRST-HAND KNOWLEDGE
            </h3>

            <p class="text-gray-700">
              With every engagement, our qualified consultants implement best
              practices and knowledge acquired from the years they spent working
              in consulting and corporate environments. In fact, our leadership
              team and consultants have worked in the financial sector for most,
              if not all, of their careers.
            </p>
          </div>
        </div>

        <div class="flex items-start">
          <img class="w-20 mr-4 shrink-0" src="assets/images/four.png" alt="" />
          <div>
            <h2 class="text-2xl font-bold">EXPERIENCE</h2>
            <h3 class="text-lg font-bold text-gray-600 mb-4">
              REAL-WORLD EXPERIENCE FIRST-HAND KNOWLEDGE
            </h3>

            <p class="text-gray-700">
              With every engagement, our qualified consultants implement best
              practices and knowledge acquired from the years they spent working
              in consulting and corporate environments. In fact, our leadership
              team and consultants have worked in the financial sector for most,
              if not all, of their careers.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
