<div class="sm:px-0 px-3">
  <div class="w-full h-screen flex items-center justify-center">
    <div class="w-1/4 rounded-xl shadow-md px-8 py-12">
      <div class="mb-6">
        <h2 class="text-gray-700 text-2xl font-black uppercase">Login</h2>
        <span class="text-xs text-gray-600">
          By continuing, you agree to our
          <a class="text-blue-600 font-bold" href="">User Agreement</a> and
          <a class="text-blue-600 font-bold" href="">Privacy Policy</a>.
        </span>
      </div>

      <form [formGroup]="ngForm" (submit)="onSubmit()">
        <mat-form-field appearance="outline" class="w-full mb-4">
          <mat-label>Email address</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            #email
            (input)="
              ngForm.patchValue({
                email: email.value.replaceAll(' ', '')
              })
            "
          />
          <mat-hint *ngIf="true">Email should be valid</mat-hint>
          <mat-error *ngIf="submitted && f['email'].errors">
            <p *ngIf="f['email'].errors['required']">
              Email is <strong>required</strong>
            </p>
            <p *ngIf="f['email'].errors['email']">
              Please enter a valid email address
            </p>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full mb-4">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="{{ showPassword ? 'text' : 'password' }}"
            formControlName="password"
          />
          <mat-icon
            matSuffix
            class="text-gray-600 cursor-pointer"
            (click)="toggleShowPassword()"
          >
            {{ showPassword ? 'visibility' : 'visibility_off' }}
          </mat-icon>
          <mat-hint *ngIf="true">Password length should be above 6</mat-hint>
          <mat-error *ngIf="f['password'].hasError('required')">
            Password is not <strong>valid</strong>
          </mat-error>
        </mat-form-field>

        <button
          mat-flat-button
          type="submit"
          color="primary"
          [disabled]="ngForm.status == 'INVALID'"
        >
          <div class="flex items-center space-x-2">
            <span>Login</span>
            <mat-spinner
              *ngIf="submitted"
              color="accent"
              diameter="16"
            ></mat-spinner>
          </div>
        </button>

        <div class="text-xs text-gray-600 mt-6 space-y-4">
          <p>Forgot your username or password ?</p>
          <p>
            New to SBSC?
            <a
              class="text-blue-600 font-bold"
              [routerLink]="['/register']"
              routerLinkActive="active"
            >
              SIGN UP
            </a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
