.input {
  @apply w-full border border-gray-400 rounded px-3 py-2 mb-4;
}

.btn {
  @apply w-full bg-orange-800 text-white font-semibold text-lg p-3 rounded;
}

.form-bg {
  background-color: var(--background-rgb);
  color: var(--foreground-rgb);
}

.dark {
  .form-bg {
    background-color: var(--dark-bg-rgb);
    color: var(--dark-forecolor-rgb);
  }
}
