.card {
  width: 400px;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;

  &__header {
    padding: 16px;
    border-bottom: 1px solid #ccc;
  }

  &__content {
    padding: 16px;

    &__title {
      font-size: 16px;
    }
  }

  &__footer {
    padding: 16px;
    border-top: 1px solid #ccc;
  }
}
