<fieldset title="Billing Address">
  <legend>{{ label }}</legend>

  <div>
    <label for="street">Street</label>
    <input id="street" type="text" formControlName="street" />
  </div>
  <div>
    <label for="city">City</label>
    <input id="city" type="text" formControlName="city" />
  </div>
  <div>
    <label for="street">State</label>
    <input id="state" type="text" formControlName="state" />
  </div>
  <div>
    <label for="country">Street</label>
    <input id="country" type="text" formControlName="country" />
  </div>
</fieldset>
