<app-navbar></app-navbar>

<div class="relative bg-white">
  <div class="bg-indigo-200 sm:pt-8">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 sm:py-32 py-16">
      <div class="grid grid-cols-12 sm:gap-x-16 gap-x-0 gap-y-8">
        <div class="sm:col-span-6 col-span-12">
          <h1 class="text-gray-800 text-5xl font-black leading-tight mb-4">
            Modern online and offline payments for Africa
          </h1>
          <h2 class="text-xl font-normal text-gray-800 leading-relaxed">
            Avalon helps businesses in Africa get paid by anyone, anywhere in the world.
          </h2>

          <div class="sm:mt-12 mt-10">
            <a
              class="px-8 py-3 bg-indigo-600 font-semibold text-lg text-white rounded-full"
              [routerLink]="['/register']"
            >
              Create an account
            </a>
          </div>
        </div>
        <div class="sm:col-span-6 col-span-12"></div>
      </div>
    </div>
  </div>

  <div class="bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 sm:py-28 py-8">
      <h1 class="sm:text-6xl text-4xl font-bold text-gray-700 text-center sm:mb-24 mb-16">
        4
        <span class="text-stone-400">Reasons</span> to choose
        <span class="text-gray-400">Avalon</span>
      </h1>

      <div class="grid grid-cols-12 sm:gap-x-16 gap-x-0 gap-y-8">
        <div class="sm:col-span-6 col-span-12 space-y-8">
          <div class="flex items-start">
            <div class="sm:w-16 w-16 shrink-0 mr-4">
              <mat-icon
                aria-hidden="false"
                aria-label="camera icon"
                fontIcon="camera"
                style="width: 60px; height: 60px"
                class="text-6xl text-indigo-600 material-symbols-outlined"
              >
              </mat-icon>
            </div>
            <div>
              <h2 class="text-2xl text-gray-700 font-bold mb-2">EXPERIENCE</h2>
              <h3 class="text-lg text-gray-500 font-light mb-4">
                Insightful analytics & performance in realtime
              </h3>

              <p class="text-gray-700 leading-8">
                With every engagement, our qualified consultants implement best practices and
                knowledge acquired from the years they spent working in consulting and corporate
                environments. In fact, our leadership team and consultants have worked in the
                financial sector for most, if not all, of their careers.
              </p>
            </div>
          </div>

          <div class="flex items-start">
            <div class="sm:w-16 w-16 shrink-0 mr-4">
              <mat-icon
                aria-hidden="false"
                aria-label="icon"
                fontIcon="rocket"
                style="width: 60px; height: 60px"
                class="text-6xl text-red-600"
              >
              </mat-icon>
            </div>
            <div>
              <h2 class="text-2xl text-gray-700 font-bold mb-2">FLEXIBILITY</h2>
              <h3 class="text-lg text-gray-500 font-light mb-4">We are with you all the way</h3>

              <p class="text-gray-700 leading-8">
                With every engagement, our qualified consultants implement best practices and
                knowledge acquired from the years they spent working in consulting and corporate
                environments. In fact, our leadership team and consultants have worked in the
                financial sector for most, if not all, of their careers.
              </p>
            </div>
          </div>
        </div>

        <div class="sm:col-span-6 col-span-12 space-y-8">
          <div class="flex items-start">
            <div class="sm:w-16 w-16 shrink-0 mr-4">
              <mat-icon
                aria-hidden="false"
                aria-label="icon"
                fontIcon="coffee"
                style="width: 60px; height: 60px"
                class="text-6xl text-green-600"
              >
              </mat-icon>
            </div>
            <div>
              <h2 class="text-2xl text-gray-700 font-bold mb-2">TRANSFER</h2>
              <h3 class="text-lg text-gray-500 font-light mb-4">Distance is no barrier with us</h3>

              <p class="text-base text-gray-700 leading-8">
                With every engagement, our qualified consultants implement best practices and
                knowledge acquired from the years they spent working in consulting and corporate
                environments. In fact, our leadership team and consultants have worked in the
                financial sector for most, if not all, of their careers.
              </p>
            </div>
          </div>

          <div class="flex items-start">
            <div class="sm:w-16 w-16 shrink-0 mr-4">
              <mat-icon
                aria-hidden="false"
                aria-label="icon"
                fontIcon="token"
                style="width: 60px; height: 60px"
                class="text-6xl text-blue-600"
              >
              </mat-icon>
            </div>
            <div>
              <h2 class="text-2xl text-gray-700 font-bold mb-2">EASY TO USE</h2>
              <h3 class="text-lg text-gray-500 font-light mb-4">
                Get started with ease, nothing is more seamless
              </h3>

              <p class="text-gray-700 leading-8">
                Developers love our thorough, well-documented APIs that let you to build everything
                from simple weekend projects, to complex financial products serving hundreds of
                thousands of customers. If you can imagine it, you can build it with Paystack
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-yellow-100">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 sm:py-32 py-8">
      <div class="mb-8">
        <h1 class="text-indigo-800 text-5xl font-black leading-tight mb-4">
          Backed by strong global partners
        </h1>
        <h2 class="text-gray-600 text-lg leading-8">
          Paystack is backed by notable investors as well as some of the best payments companies on
          the planet.
        </h2>
      </div>

      <div class="grid grid-cols-12 sm:gap-x-16 gap-x-0 gap-y-8">
        <div
          *ngFor="let item of [1, 3, 4]"
          class="sm:col-span-4 col-span-12 bg-white rounded-xl shadow-md px-8 py-12"
        >
          <h2 class="text-gray-700 uppercase font-bold mb-2">EASY TO USE</h2>
          <h3 class="text-2xl text-gray-700 font-black mb-4">
            Get started with ease, Nothing is more seamless.
          </h3>

          <p class="text-gray-700 leading-7">
            With every engagement, our qualified consultants implement best practices and knowledge
            acquired from the years they spent working in consulting and corporate environments.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-gray-800 text-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 sm:py-32 py-16">
      <div class="mb-8">
        <h1 class="text-indigo-300 text-5xl font-black leading-tight mb-4">
          Backed by strong global partners
        </h1>
        
        <h2 class="text-gray-200 text-lg leading-8">
          Paystack is backed by notable investors as well as some of the best payments companies on
          the planet.
        </h2>
      </div>

      <div id="box-container" class="grid grid-cols-12 sm:gap-x-8 gap-x-0 gap-y-8">
        <div
          #box
          *ngFor="let item of [1, 2, 3, 4, 5]"
          class="box sm:col-span-4 col-span-12 bg-white rounded-xl shadow-md px-8 py-12"
          [ngClass]="item !== 1 ? 'row-span-1' : 'row-span-2'"
        >
          <h2 class="text-gray-600 uppercase font-bold mb-2">EASY TO USE</h2>
          <h3 class="text-2xl text-gray-700 font-black mb-4">
            Get started with ease, Nothing is more seamless.
          </h3>

          <p class="text-gray-600 leading-7">
            With every engagement, our qualified consultants implement best practices and knowledge
            acquired from the years they spent working in consulting and corporate environments.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
