<div class="folder-list-wrapper">
  <ng-container *ngFor="let collection of apiCollections">
    <div
      (click)="$event.stopPropagation()"
      class="folder"
      [ngClass]="{ active: collection.id === selectedCollection.id }"
      (click)="selectCollection(collection)"
    >
      <p class="flwmn-para-1 mb-0">
        {{ collection.name }}
      </p>
    </div>
  </ng-container>
</div>

<button mat-flat-button color="primary" (click)="updateIcon()">Update Icon</button>

<div class="icon" data-testid="icon">
  <img src="/" alt="" />
</div>

<button class="btn">Small</button>

<section class="max-w-6xl mx-auto">
  <div class="input-group">
    <mat-form-field appearance="outline" [style.width.%]="100">
      <input matInput [formControl]="address" placeholder="Enter an address" data-testid="input" />
    </mat-form-field>

    <mat-form-field appearance="outline" [style.width.%]="100">
      <input matInput [(ngModel)]="city" placeholder="Enter a city" data-testid="city" />
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="submit()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</section>

<p class="city">{{ city }}</p>

<button class="btn-resizable" [routerLink]="[]" [queryParams]="{ mode: 5 }">Click me</button>

<button class="btn-async" (click)="getTitle()">Test async</button>
