<ng-container [formGroup]="group">
  <div class="form-row">
    <input type="text" formControlName="type" placeholder="Type" />

    <input type="text" formControlName="merge" placeholder="Merge" />

    <input type="text" formControlName="with" placeholder="With" />

    <button (click)="addCondition(group)">Add inner condition</button>
  </div>

  <ng-container formArrayName="conditions">
    <div
      class="condition-item"
      *ngFor="let item of subConditionsArray(group).controls; let i = index"
      [formGroupName]="i"
    >
      <div class="form-row">
        <input type="text" formControlName="type" placeholder="Type" />

        <input type="text" formControlName="merge" placeholder="Merge" />

        <input type="text" formControlName="with" placeholder="With" />

        <button (click)="addCondition(item)">Add sub condition</button>
      </div>

      <ng-container *ngIf="getInnerConditions(item)!.controls.length > 0">
        <ng-container formArrayName="conditions">
          <div
            class="condition-item"
            *ngFor="let nextGroup of getInnerConditions(item)!.controls; let j = index"
          >
            <app-condition-group [group]="nextGroup" />
          </div>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
