<div class="relative bg-white border-b">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div
      class="flex justify-between items-center border-gray-100 py-3 md:justify-start md:space-x-10"
    >
      <div class="flex justify-start lg:w-0 lg:flex-1">
        <a [routerLink]="['/']">
          <span class="sr-only">SBSC</span>
          <img
            class="h-8 w-8 sm:h-10 sm:w-10"
            src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
            alt="logo"
          />
        </a>
      </div>
      <div class="-mr-2 -my-2 md:hidden">
        <button
          type="button"
          (click)="showMobile = !showMobile"
          class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
          aria-expanded="false"
        >
          <span class="sr-only">Open menu</span>
          <!-- Heroicon name: outline/menu -->
          <svg
            class="h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </button>
      </div>

      <nav
        class="hidden md:flex items-center justify-end md:flex-1 lg:w-0 sm:space-x-3 space-x-0"
      >
        <a
          [routerLink]="['/dashboard/users']"
          routerLinkActive="active"
          class="whitespace-nowrap text-sm font-normal text-gray-500 hover:text-gray-900 rounded-sm shadow-sm px-4 py-2 border border-gray-300"
        >
          Users
        </a>
        <button
          [matMenuTriggerFor]="menu"
          (click)="moreMenu = !moreMenu"
          aria-label="account"
          role="button"
          class="ml-8 whitespace-nowrap cursor-pointer inline-flex items-center px-4 py-2 border border-gray-300 rounded-sm shadow-sm text-sm font-normal text-gray-500 hover:text-indigo-600 hover:border-indigo-400"
        >
          <img
            class="-ml-1 mr-2 h-5 w-5 rounded-full"
            [src]="tempImg"
            loading="lazy"
            alt=""
          />
          Account
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            [routerLink]="['/dashboard/account']"
            routerLinkActive="btn-active"
          >
            My account
          </button>
          <button
            mat-menu-item
            [routerLink]="['/thankyou']"
            [queryParams]="{ refValue: 25000 }"
            [state]="{ total: 8000 }"
            routerLinkActive="btn-active"
          >
            Thank you
          </button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </nav>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on mobile menu state.  -->
  <div
    *ngIf="showMobile"
    class="absolute z-20 top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden"
  >
    <div
      class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50"
    >
      <div class="pt-5 pb-6 px-5">
        <div class="flex items-center justify-between">
          <div>
            <img
              class="h-8 w-auto"
              src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
              alt="Workflow"
            />
          </div>
          <div class="-mr-2">
            <button
              type="button"
              (click)="showMobile = !showMobile"
              class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
            >
              <span class="sr-only">Close menu</span>
              <!-- Heroicon name: outline/x -->
              <svg
                class="h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
        </div>
        <div class="mt-6">
          <nav class="grid gap-y-8">
            <a
              [routerLink]="['/dashboard/users']"
              routerLinkActive="active"
              class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50"
            >
              <!-- Heroicon name: outline/user-circle -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="flex-shrink-0 h-6 w-6 text-indigo-600"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
              <span class="ml-3 text-sm font-normal text-gray-900">
                Users
              </span>
            </a>

            <a
              [routerLink]="['/dashboard/account']"
              routerLinkActive="active"
              class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50"
              aria-label="Account"
            >
              <!-- Heroicon name: outline/cursor-click -->
              <svg
                class="flex-shrink-0 h-6 w-6 text-indigo-600"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122"
                />
              </svg>
              <span class="ml-3 text-sm font-normal text-gray-900">
                Account
              </span>
            </a>
          </nav>
        </div>
      </div>
      <div class="py-6 px-5 space-y-6">
        <div *ngIf="!userId">
          <a
            [routerLink]="['/auth/register']"
            routerLinkActive="active"
            class="w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700"
          >
            Sign up
          </a>
          <p class="mt-6 text-center text-sm font-medium text-gray-500">
            Existing customer?
            <a
              [routerLink]="['/auth/login']"
              routerLinkActive="active"
              class="text-indigo-600 hover:text-indigo-500"
            >
              Sign in
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
