<section class="max-w-6xl mx-auto my-8">
  <div class="article" #article *ngFor="let item of list">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum commodi similique minima
    obcaecati facere laboriosam nam odio deleniti ea doloribus, atque consequatur voluptatem dolore
    nisi repudiandae maiores illum, consequuntur a.

    <button class="btn-smoove">Get Started</button>
  </div>
</section>

<section class="masonry">
  <div class="box">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, illum! Quos consectetur
    labore itaque facilis autem eaque ratione obcaecati at, quam est eius dolorum non officia
    distinctio? Quia, reprehenderit veniam?
  </div>

  <div class="box">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, illum! Quos consectetur
    labore itaque facilis autem eaque ratione obcaecati at, quam est eius dolorum non officia
    distinctio? Quia, reprehenderit veniam? Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Cumque obcaecati quisquam, beatae in, odio dolor, sunt ratione autem quia repudiandae odit
    vel ipsa commodi provident! Dolorum quae facere temporibus necessitatibus.
  </div>

  <div class="box">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam mollitia at fuga accusantium.
    Alias, ab modi hic beatae, nostrum adipisci nam consectetur aperiam sequi sapiente veniam vitae
    voluptas enim! Sunt! Sit, fuga consequuntur minus magni cupiditate repellat ducimus omnis harum
    officiis soluta consequatur ullam nesciunt perferendis totam quos minima a nisi expedita quaerat
    hic at ex. Suscipit corporis amet iure?
  </div>

  <div class="box">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum assumenda facere autem
    suscipit, hic ut reiciendis aliquid voluptates illo facilis exercitationem placeat, inventore
    voluptatum neque cum officia voluptate aut libero.
  </div>

  <div class="box">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ab qui exercitationem deserunt
    odit iusto nobis est quia culpa veniam. Sint necessitatibus voluptatibus quisquam vel, minus
    aliquam repellat unde ipsa. Doloremque, rem explicabo soluta nesciunt veniam consectetur quae
    autem quidem minima alias harum assumenda molestiae sint provident. Hic cum recusandae molestiae
    eius officiis, quibusdam incidunt totam minus iure, praesentium id? Eveniet enim molestias
    vitae, a voluptatibus perferendis!
  </div>

  <div class="box">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem maiores odio minima dolor. Hic rem
    sint similique quod labore rerum delectus eius. Nobis, dolore! Deleniti, amet? Ab, asperiores.
    Aliquid, asperiores. Perspiciatis doloribus fugiat distinctio mollitia ab inventore repellat
    magnam a modi et consequuntur, hic eaque in recusandae odio ea vero illum. Tempora voluptas
    doloribus suscipit, molestias reiciendis aspernatur error eum. Quaerat ratione delectus
    molestias hic odio et corporis.
  </div>

  <div class="box">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, doloremque. Perspiciatis
    officiis illo totam a nobis optio sit ullam consequatur aliquid, eum adipisci rerum, iste
    deserunt autem nulla vel culpa!
  </div>

  <div class="box">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere delectus obcaecati rerum
    provident, dignissimos minima reiciendis blanditiis laudantium dolorem optio, quos
    necessitatibus magnam a officia repudiandae quasi tempora perferendis eius. Quisquam veniam
    alias obcaecati a consequuntur aspernatur similique, illum repudiandae nostrum atque, quod non
    temporibus, provident fuga doloremque dolor nihil! Excepturi alias dicta ad sapiente quia culpa
    iure eveniet laboriosam! Voluptates, consequatur velit in accusantium aliquid quisquam veniam
    labore alias minus dolore incidunt iure, magni corporis ullam dolores fugit commodi quia placeat
    distinctio nisi recusandae eligendi itaque! Deserunt.
  </div>

  <div class="box">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae facere explicabo veniam eligendi
    laudantium eum vel aperiam magni sequi reiciendis! Eaque mollitia beatae, et consequuntur nihil
    nesciunt quia culpa qui! Voluptatum maiores deserunt numquam, reiciendis officia magni esse
    voluptatibus perferendis veritatis culpa placeat architecto corrupti quo cupiditate! Fuga
    incidunt voluptatem quisquam, adipisci aut delectus obcaecati tempora porro labore assumenda
    ipsa.
  </div>

  <div class="box">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit cupiditate dicta voluptates unde
    commodi consequatur excepturi, ad est dolore eos eveniet aliquid, laboriosam illum voluptas
    obcaecati necessitatibus optio fugiat quia.
  </div>

  <div class="box">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quod temporibus repellat
    cupiditate facilis pariatur, nesciunt, veritatis quis alias iusto rerum sed cumque aliquid, vel
    repellendus nostrum unde enim dolores! Dolorem hic illo optio quis quidem ab quas maiores. Quos
    error dolorem minima laudantium ea saepe, modi nemo pariatur, quasi facere mollitia distinctio
    eveniet est dolorum blanditiis eligendi doloremque atque?
  </div>

  <div class="box">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio incidunt ducimus veritatis
    repellat dicta possimus illum, provident beatae modi inventore soluta, veniam cumque molestiae
    error eum quaerat nam nisi? Consectetur. Natus omnis, nesciunt facilis, sunt eaque, culpa nulla
    corrupti recusandae fugiat facere dolore ipsa quod numquam ipsam odit aspernatur adipisci
    provident rerum repellat error non similique ipsum. Reiciendis, maxime numquam? Accusamus
    delectus rem obcaecati natus unde dolorem molestiae, doloremque consectetur error numquam at
    explicabo eum laborum placeat! Omnis, repellat quod dolor velit odit voluptas excepturi illum
    adipisci fuga quae voluptatem!
  </div>

  <div class="box">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam delectus nemo eveniet maxime
    quas est reprehenderit architecto expedita voluptatum cupiditate? Ea nulla minus voluptatibus,
    quidem laudantium quaerat voluptatum doloremque doloribus?
  </div>

  <div class="box">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias eveniet ea minus, quae alias
    iusto recusandae, delectus, quas ad officia eius dolorum quaerat? Amet tempore fugit est libero
    reiciendis non! Nisi veniam aut sit magnam est voluptates ipsum consequatur saepe iure porro
    earum, corrupti asperiores, iste dolorem corporis ipsam fugit? Exercitationem sit non, quaerat
    nam labore maxime excepturi facere eaque?
  </div>

  <div class="box">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi corrupti veniam vero quae
    tempore. Odit amet, maxime non blanditiis praesentium impedit itaque voluptatem nesciunt sed ea
    molestias autem tempora! Doloremque? Doloribus minus eius distinctio quaerat officiis, tempora
    voluptatum consectetur eum totam hic dolorem recusandae dignissimos maxime. Aliquam sequi
    ducimus nesciunt est possimus voluptates blanditiis, repudiandae veritatis expedita dicta.
    Optio, porro. Impedit perferendis molestiae corporis illum illo explicabo quibusdam suscipit
    laborum pariatur? Praesentium, omnis ex nisi qui inventore similique nemo. Minima, voluptatem.
    Maxime ipsam praesentium consequuntur illum veniam. Temporibus, obcaecati maxime. Praesentium
    eum facere a blanditiis tenetur, reprehenderit vero distinctio molestias accusamus quasi quae
    inventore commodi in ullam velit atque qui dolorem vel. Eos possimus sed, voluptatem
    necessitatibus iusto suscipit impedit!
  </div>

  <div class="box">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quam ipsum sunt. Aliquid cumque
    voluptatem, dolorum eos consequuntur dicta nisi provident sit facere impedit accusantium, fugit
    expedita deleniti exercitationem nobis! Sit facere delectus nulla illum inventore eum numquam
    aspernatur, nesciunt id! Laudantium culpa porro natus, temporibus architecto pariatur
    dignissimos saepe hic fuga debitis. Adipisci, mollitia cum. Eveniet enim dolor non.
  </div>

  <div class="box">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quo est quae maxime nulla
    consequuntur laboriosam reiciendis voluptas reprehenderit molestiae quam distinctio labore quod
    animi officiis nisi, temporibus eius libero.
  </div>
</section>
