.main-app {
  display: flex;
  border: 0.0625rem solid #ccc;

  .main-aside {
    width: 18.75rem;
    border-right: 0.0625rem solid #ccc;
    flex-shrink: 0;
  }

  .main-content {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% - 18.75rem); // behave like mininum width
    width: calc(100% - 18.75rem);

    .main-content-wrapper {
      padding: 1rem;
      overflow: auto;
    }
  }
}

::ng-deep .mat-mdc-table td {
  // white-space: nowrap;
}

.table-responsive {
  overflow-x: auto;
}
