<section class="max-w-4xl mx-auto">
  <nav class="navigation">
    <ul>
      <li class="active">HOME</li>
      <li>ABOUT</li>
      <li appMenuSlide color="green">DOCS</li>
      <li>PRICING</li>
      <li>BLOG TUTORIAL</li>

      <div class="indicator"></div>
    </ul>
  </nav>
</section>

<ul class="custom-ul">
  <li>Spark</li>
  <li>Crystal</li>
  <li>Diamond</li>
  <li>Apple</li>
</ul>

<div class="block-list">
  <h2>HTML Tutorial</h2>
  <h2>CSS Tutorial</h2>
  <h2>JavaScript Tutorial</h2>
  <h2>Python Tutorial</h2>
  <h2>SQL Tutorial</h2>
</div>
