.container {
  container-type: inline-size;
  container-name: container;
  border: 1px solid #eee;
}

.card {
  border: 0.125rem solid #033dd0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  overflow: auto;
  resize: horizontal;
}

.content::after {
  content: '📙';
  font-size: 2rem;
}

@container container (max-width: 460px) {
  .content::after {
    content: '🍹';
  }
}
