<section class="max-w-7xl mx-auto py-12">
  <div class="fixed top-16 left-0 h-screen w-[320px] max-w-xs bg-yellow-400"></div>

  <div class="ratings">
    <img src="assets/images/star-full.svg" alt="" *appRating="58" />
  </div>

  <app-rating [stars]="3"></app-rating>

  <div class="grid-box">
    <div class="grid-item">
      <mat-radio-button value="2">Option 2</mat-radio-button>
    </div>

    <div class="grid-item">
      <mat-form-field appearance="outline">
        <input matInput />
      </mat-form-field>
    </div>

    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
  </div>

  <hr class="divider" />
</section>
