<section class="form-container">
  <!-- recursive conditions form -->
  <form class="py-24" [formGroup]="conditionForm">
    <div formArrayName="conditions" *ngFor="let group of conditionsArray.controls; let i = index">
      <!-- form component used here -->
      <app-condition-group [group]="group" />
    </div>

    <button class="mt-4" (click)="addCondition()">Add condition</button>
  </form>

  <pre class="text-green-700"
    >{{ schema | json }}
  </pre>

  <!-- form condition raw preview -->
  <pre class="mb-9"
    >{{ conditionsArray.value | json }}
  </pre>
</section>
