.condition-container {
  max-width: 85%;
  margin: 4rem auto 2rem;

  .condition-layout {
    display: flex;

    .form-section {
      flex: 1;
      padding-right: 1rem;
      border-right: 0.0625rem solid #ccc;
    }

    .preview-section {
      width: 25rem;
      padding: 1rem;
      flex-shrink: 0;
    }
  }
}

.condition-item {
  @apply border border-gray-300 p-4 rounded mb-4;
}

input {
  border: 0.0625rem solid #ccc;
  padding: 0.5rem 0.75rem;
}

button:not([mat-icon-button], [mat-flat-button], [mat-stroked-button]) {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: rgb(3, 34, 128);
  color: #fff;
  flex-shrink: 0;
}
