<div class="scroller">
  <div class="scroller__inner">
    <div class="tag" *ngFor="let tag of tags">{{ tag }}</div>
  </div>
</div>

<div class="grid-scrollbar">
  <div class="scroll-item">Phase</div>

  <div class="scroll-item">Butter</div>

  <div class="scroll-item">Cream</div>

  <div class="scroll-item">Foods</div>

  <div class="scroll-item">Peanut</div>

  <div class="scroll-item">French</div>

  <div class="scroll-item">Yogurt</div>

  <div class="scroll-item">Guacomole</div>

  <div class="scroll-item">Hodgedog</div>

  <div class="scroll-item">Sausage</div>

  <div class="scroll-item">Mankind</div>
</div>

<div class="text-box">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit non officiis quasi, deserunt unde
    delectus itaque suscipit at veritatis dolor obcaecati cupiditate illum magni commodi natus
    voluptate nostrum. Harum, eos. Ab magnam fugiat recusandae ipsa adipisci ipsam repudiandae alias
    optio debitis, illum, accusantium reprehenderit exercitationem veniam sit, at voluptatum
    repellat ex qui eos saepe! Ab aut tenetur laborum iure unde!
  </p>
</div>

<div class="text-gradient">
  <h1>Text Gradient</h1>
</div>

<div class="wrapper">
  <div class="inner">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque qui dolore voluptate iusto
    optio fugit est beatae? Aspernatur minima, dolor aut eos molestias dolores eius consectetur
    dignissimos corrupti ut voluptas? Nobis, ipsam debitis iure velit explicabo illum natus,
    deserunt at nesciunt porro cumque, iusto distinctio consectetur qui beatae. Nam eius, voluptatum
    nisi non obcaecati blanditiis similique atque voluptatem optio quidem? Itaque, facere? Dicta,
    possimus eius fugiat aut accusamus, velit doloribus temporibus fugit quo tenetur, perspiciatis
    voluptatem. Corporis accusantium iste itaque perferendis beatae optio quia dolores quo esse.
    Vero, excepturi error. Labore commodi, repellat laboriosam iste consequatur dolore ipsum
    architecto mollitia ratione provident. Mollitia dolorum, rerum consequuntur molestias ratione
    nobis veritatis illum delectus doloribus magni, aspernatur nostrum eveniet velit laboriosam
    sint.
  </div>
</div>
