<section class="py-14">
  <div class="max-w-5xl mx-auto">
    <div class="mb-10">
      <h1 class="text-3xl font-bold mb-4">Horizontal Scroll Playground</h1>

      <p class="text-lg mb-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora distinctio vitae accusamus
        corporis odit incidunt excepturi earum saepe, animi nisi repudiandae, voluptate a adipisci
        expedita! Molestiae ipsam praesentium sequi consectetur.
      </p>
      <p class="text-lg mb-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora distinctio vitae accusamus
        corporis odit incidunt excepturi earum saepe, animi nisi repudiandae, voluptate a adipisci
        expedita! Molestiae ipsam praesentium sequi consectetur.
      </p>
      <p class="text-lg mb-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora distinctio vitae accusamus
        corporis odit incidunt excepturi earum saepe, animi nisi repudiandae, voluptate a adipisci
        expedita! Molestiae ipsam praesentium sequi consectetur.
      </p>
      <p class="text-lg mb-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora distinctio vitae accusamus
        corporis odit incidunt excepturi earum saepe, animi nisi repudiandae, voluptate a adipisci
        expedita! Molestiae ipsam praesentium sequi consectetur.
      </p>

      <p class="text-lg mb-4">
        Using modifiers for this sort of thing can reduce the amount of conditional logic in your
        templates, letting you use the same set of classes regardless of what state an input is in
        and letting the browser apply the right styles for you. Tailwind also includes modifiers for
        other form states like :read-only, :indeterminate, :checked, and more. See the pseudo-class
        reference for a complete list of available pseudo-class modifiers.
      </p>
    </div>

    <div class="mb-10">
      <h1 class="text-3xl font-bold mb-4">Horizontal Scroll Playground</h1>

      <p class="text-lg mb-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora distinctio vitae accusamus
        corporis odit incidunt excepturi earum saepe, animi nisi repudiandae, voluptate a adipisci
        expedita! Molestiae ipsam praesentium sequi consectetur.
      </p>
      <p class="text-lg mb-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora distinctio vitae accusamus
        corporis odit incidunt excepturi earum saepe, animi nisi repudiandae, voluptate a adipisci
        expedita! Molestiae ipsam praesentium sequi consectetur.
      </p>
      <p class="text-lg mb-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora distinctio vitae accusamus
        corporis odit incidunt excepturi earum saepe, animi nisi repudiandae, voluptate a adipisci
        expedita! Molestiae ipsam praesentium sequi consectetur.
      </p>
      <p class="text-lg mb-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora distinctio vitae accusamus
        corporis odit incidunt excepturi earum saepe, animi nisi repudiandae, voluptate a adipisci
        expedita! Molestiae ipsam praesentium sequi consectetur.
      </p>

      <p class="text-lg mb-4">
        Using modifiers for this sort of thing can reduce the amount of conditional logic in your
        templates, letting you use the same set of classes regardless of what state an input is in
        and letting the browser apply the right styles for you. Tailwind also includes modifiers for
        other form states like :read-only, :indeterminate, :checked, and more. See the pseudo-class
        reference for a complete list of available pseudo-class modifiers.
      </p>
    </div>

    <div class="horizontal-section" #horizontalContainer>
      <div class="horizontal-row" #horizontalRow>
        <div class="horizontal-item" *ngFor="let item of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"></div>
      </div>
    </div>

    <div class="mb-10">
      <h1 class="text-3xl font-bold mb-4">Horizontal Scroll Playground</h1>

      <p class="text-lg mb-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora distinctio vitae accusamus
        corporis odit incidunt excepturi earum saepe, animi nisi repudiandae, voluptate a adipisci
        expedita! Molestiae ipsam praesentium sequi consectetur.
      </p>

      <p class="text-lg mb-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora distinctio vitae accusamus
        corporis odit incidunt excepturi earum saepe, animi nisi repudiandae, voluptate a adipisci
        expedita! Molestiae ipsam praesentium sequi consectetur.
      </p>

      <p class="text-lg mb-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora distinctio vitae accusamus
        corporis odit incidunt excepturi earum saepe, animi nisi repudiandae, voluptate a adipisci
        expedita! Molestiae ipsam praesentium sequi consectetur.
      </p>

      <p class="text-lg">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora distinctio vitae accusamus
        corporis odit incidunt excepturi earum saepe, animi nisi repudiandae, voluptate a adipisci
        expedita! Molestiae ipsam praesentium sequi consectetur.
      </p>

      <p class="text-lg mb-4">
        Using modifiers for this sort of thing can reduce the amount of conditional logic in your
        templates, letting you use the same set of classes regardless of what state an input is in
        and letting the browser apply the right styles for you. Tailwind also includes modifiers for
        other form states like :read-only, :indeterminate, :checked, and more. See the pseudo-class
        reference for a complete list of available pseudo-class modifiers.
      </p>
    </div>

    <div class="mb-10">
      <h1 class="text-3xl font-bold mb-4">Horizontal Scroll Playground</h1>

      <p class="text-lg mb-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora distinctio vitae accusamus
        corporis odit incidunt excepturi earum saepe, animi nisi repudiandae, voluptate a adipisci
        expedita! Molestiae ipsam praesentium sequi consectetur.
      </p>

      <p class="text-lg mb-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora distinctio vitae accusamus
        corporis odit incidunt excepturi earum saepe, animi nisi repudiandae, voluptate a adipisci
        expedita! Molestiae ipsam praesentium sequi consectetur.
      </p>

      <p class="text-lg mb-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora distinctio vitae accusamus
        corporis odit incidunt excepturi earum saepe, animi nisi repudiandae, voluptate a adipisci
        expedita! Molestiae ipsam praesentium sequi consectetur.
      </p>

      <p class="text-lg">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora distinctio vitae accusamus
        corporis odit incidunt excepturi earum saepe, animi nisi repudiandae, voluptate a adipisci
        expedita! Molestiae ipsam praesentium sequi consectetur.
      </p>

      <p class="text-lg mb-4">
        Using modifiers for this sort of thing can reduce the amount of conditional logic in your
        templates, letting you use the same set of classes regardless of what state an input is in
        and letting the browser apply the right styles for you. Tailwind also includes modifiers for
        other form states like :read-only, :indeterminate, :checked, and more. See the pseudo-class
        reference for a complete list of available pseudo-class modifiers.
      </p>
    </div>
  </div>
</section>
