<section>
  <div class="max-w-3xl mx-auto">
    <ng-container *ngIf="(products | async)?.length; else loading">
      <div class="grid grid-cols-3 gap-4">
        <div class="w-full border shadow-sm rounded-md" *ngFor="let product of products | async">
          <div class="mb-0 rounded-sm p-2 border-b">
            <img [src]="product.image" alt="" class="max-w-full h-48 object-contain" />
          </div>

          <div class="flex justify-between items-center rounded-sm gap-x-2 p-2">
            <div class="space-y-1">
              <p class="text-sm font-medium">{{ product.title | ellipsis : 40 }}</p>
              <p class="text-sm">{{ product.price | currency : 'USD' }}</p>
            </div>

            <button
              class="bg-blue-600 text-white px-3 py-1.5 rounded-md font-mono"
              (click)="selectItem(product)"
            >
              BUY
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>

<ng-template #loading>
  <div class="grid place-content-center my-8">
    <mat-spinner diameter="24"></mat-spinner>
  </div>
</ng-template>
