<div class="relative bg-white border-t">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 py-8">
    <div
      class="grid grid-cols-12 gap-8 border-gray-100 py-3 md:justify-start md:space-x-10 text-sm"
    >
      <div class="sm:col-span-3 col-span-6">
        <h3 class="text-lg font-bold text-gray-700 uppercase mb-3">Company</h3>
        <ul class="space-y-2">
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-blue-600">
              Home
            </a>
          </li>
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-blue-600">
              Complaince
            </a>
          </li>
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-blue-600">
              Why Should Us
            </a>
          </li>
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-blue-600">
              Careers
            </a>
          </li>
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-blue-600">
              Privacy & Terms
            </a>
          </li>
        </ul>
      </div>
      <div class="sm:col-span-3 col-span-6">
        <h3 class="text-lg font-bold text-gray-700 uppercase mb-3">
          Resources
        </h3>
        <ul class="space-y-2">
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-blue-600">
              Pricing
            </a>
          </li>
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-blue-600">
              Blog
            </a>
          </li>
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-blue-600">
              Support
            </a>
          </li>
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-blue-600">
              Integration
            </a>
          </li>
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-blue-600">
              FAQ
            </a>
          </li>
        </ul>
      </div>
      <div class="sm:col-span-3 col-span-6">
        <h3 class="text-lg font-bold text-gray-700 uppercase mb-3">Business</h3>
        <ul class="space-y-2">
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-blue-600">
              Microsoft teams
            </a>
          </li>
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-blue-600">
              Docker
            </a>
          </li>
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-blue-600">
              Slack
            </a>
          </li>
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-blue-600">
              Amazon Web Services
            </a>
          </li>
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-blue-600">
              Cloud Computing
            </a>
          </li>
        </ul>
      </div>
      <div class="sm:col-span-3 col-span-6">
        <h3 class="text-lg font-bold text-gray-700 uppercase mb-3">Meet us</h3>
        <ul class="space-y-2">
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-blue-600">
              Contact Us
            </a>
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-blue-600">Google</a>
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-blue-600">Instagram</a>
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-blue-600">Twitter</a>
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-blue-600">LinkedIn</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
