<div class="relative bg-white border-t">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 py-8">
    <div
      class="grid grid-cols-12 gap-8 border-gray-100 py-3 md:justify-start md:space-x-10 text-sm"
    >
      <div class="sm:col-span-3 col-span-6">
        <h3 class="font-bold text-gray-800 uppercase mb-3">Company</h3>
        <ul class="space-y-2">
          <li><a [routerLink]="['/']" class="text-blue-600">Home</a></li>
          <li><a [routerLink]="['/']" class="text-blue-600">About</a></li>
          <li><a [routerLink]="['/']" class="text-blue-600">Contact Us</a></li>
          <li><a [routerLink]="['/']" class="text-blue-600">About</a></li>
          <li><a [routerLink]="['/']" class="text-blue-600">About</a></li>
        </ul>
      </div>
      <div class="sm:col-span-3 col-span-6">
        <h3 class="font-bold text-gray-800 uppercase mb-3">Links</h3>
        <ul class="space-y-2">
          <li><a [routerLink]="['/']" class="text-blue-600">Home</a></li>
          <li><a [routerLink]="['/']" class="text-blue-600">About</a></li>
          <li><a [routerLink]="['/']" class="text-blue-600">Contact Us</a></li>
          <li><a [routerLink]="['/']" class="text-blue-600">About</a></li>
          <li><a [routerLink]="['/']" class="text-blue-600">About</a></li>
        </ul>
      </div>
      <div class="sm:col-span-3 col-span-6">
        <h3 class="font-bold text-gray-800 uppercase mb-3">Company</h3>
        <ul class="space-y-2">
          <li><a [routerLink]="['/']" class="text-blue-600">Home</a></li>
          <li><a [routerLink]="['/']" class="text-blue-600">About</a></li>
          <li><a [routerLink]="['/']" class="text-blue-600">Contact Us</a></li>
          <li><a [routerLink]="['/']" class="text-blue-600">About</a></li>
          <li><a [routerLink]="['/']" class="text-blue-600">About</a></li>
        </ul>
      </div>
      <div class="sm:col-span-3 col-span-6">
        <h3 class="font-bold text-gray-800 uppercase mb-3">Meet us</h3>
        <ul class="space-y-2">
          <li><a [routerLink]="['/']" class="text-blue-600">Home</a></li>
          <li><a [routerLink]="['/']" class="text-blue-600">About</a></li>
          <li><a [routerLink]="['/']" class="text-blue-600">Contact Us</a></li>
          <li><a [routerLink]="['/']" class="text-blue-600">About</a></li>
          <li><a [routerLink]="['/']" class="text-blue-600">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
