.slanted {
  z-index: 1;
}
.slanted::after {
  position: absolute;
  content: "";
  background: #111827;
  height: 100%;
  width: 100%;
  transform: skewY(-1.5deg);
  right: 0;
  top: -30px;
  z-index: -1;
  color: #eee;
}
