<div class="slanted relative bg-gray-50 border">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 sm:py-12 py-8">
    <div
      class="grid grid-cols-12 gap-8 pt-4 pb-8 md:justify-start md:space-x-10 text-sm"
    >
      <div class="sm:col-span-3 col-span-6">
        <h3 class="text-base font-bold text-gray-700 uppercase mb-3">
          Company
        </h3>
        <ul class="space-y-2">
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-indigo-600">
              Home
            </a>
          </li>
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-indigo-600">
              Complaince
            </a>
          </li>
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-indigo-600">
              Why Should Us
            </a>
          </li>
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-indigo-600">
              Careers
            </a>
          </li>
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-indigo-600">
              Privacy & Terms
            </a>
          </li>
        </ul>
      </div>
      <div class="sm:col-span-3 col-span-6">
        <h3 class="text-base font-bold text-gray-700 uppercase mb-3">
          Resources
        </h3>
        <ul class="space-y-2">
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-indigo-600">
              Pricing
            </a>
          </li>
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-indigo-600">
              Blog
            </a>
          </li>
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-indigo-600">
              Support
            </a>
          </li>
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-indigo-600">
              Integration
            </a>
          </li>
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-indigo-600">
              FAQ
            </a>
          </li>
        </ul>
      </div>
      <div class="sm:col-span-3 col-span-6">
        <h3 class="text-base font-bold text-gray-700 uppercase mb-3">
          Business
        </h3>
        <ul class="space-y-2">
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-indigo-600">
              Microsoft teams
            </a>
          </li>
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-indigo-600">
              Docker
            </a>
          </li>
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-indigo-600">
              Slack
            </a>
          </li>
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-indigo-600">
              Amazon Web Services
            </a>
          </li>
          <li>
            <a [routerLink]="['/']" class="text-gray-600 hover:text-indigo-600">
              Cloud Computing
            </a>
          </li>
        </ul>
      </div>
      <div class="sm:col-span-3 col-span-6">
        <h3 class="text-base font-bold text-gray-700 uppercase mb-3">
          Meet us
        </h3>
        <ul class="space-y-2">
          <li>
            <a
              [routerLink]="['/contactus']"
              class="text-gray-600 hover:text-indigo-600"
            >
              Contact Us
            </a>
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-indigo-600">Google</a>
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-indigo-600">Instagram</a>
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-indigo-600">Twitter</a>
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-indigo-600">LinkedIn</a>
          </li>
          <li>
            <span class="text-indigo-500">support@sbsc.com</span>
          </li>
        </ul>
      </div>
    </div>

    <div
      class="flex flex-col sm:flex-row justify-between items-center pt-8 border-t border-dashed"
    >
      <div class="mt-2">
        <p class="text-sm text-gray-700">
          Copyright &copy; {{ startDate }} — Samwize Inc. All Rights Reserved.
        </p>
      </div>

      <dl class="flex flex-wrap items-start sm:space-x-4">
        <dd>
          <a href="https://facebook.com/okekesamwize">
            <img class="h-5 w-5" src="assets/images/facebook.svg" alt="fb" />
          </a>
        </dd>
        <dd>
          <a href="https://twitter.com/sampedia">
            <img class="h-5 w-5" src="assets/images/twitter.svg" alt="tw" />
          </a>
        </dd>
        <dd>
          <a href="https://www.instagram.com/samwize.o">
            <img class="h-5 w-5" src="assets/images/instagram.svg" alt="ins" />
          </a>
        </dd>
        <dd>
          <a href="https://linkedin.com/in/samuel-okeke">
            <img class="h-5 w-5" src="assets/images/linkedin.svg" alt="lin" />
          </a>
        </dd>
        <dd>
          <a href="https://www.youtube.com/channel/UCOhiw-CpBGWGBXj0FrAxabQ">
            <img class="h-5 w-5" src="assets/images/youtube.svg" alt="yt" />
          </a>
        </dd>
      </dl>
    </div>
  </div>
</div>
