<!-- Form array loop example -->
<form class="py-24" [formGroup]="form">
  <div formArrayName="conditions">
    <div class="form-control" *ngFor="let control of conditionsCtrl.controls; let i = index">
      <input type="text" [formControlName]="i" placeholder="Type" />
    </div>
  </div>

  <div class="btn-container">
    <button (click)="addCondition()">Add condition</button>
  </div>
</form>

{{ conditionsCtrl.value | json }}

<button (click)="clickEvent()">Click Event</button>

<div>
  <a routerLink="." fragment="samuel" [class.active]="(activeFragment | async) === 'samuel'">
    To go Samuel fragment
  </a>
  <br />

  <a routerLink="." fragment="david" [class.active]="(activeFragment | async) === 'david'">
    To go David fragment
  </a>
  <br />

  <a routerLink="." fragment="michael" [class.active]="(activeFragment | async) === 'michael'">
    To go Michael fragment
  </a>
</div>

<mat-selection-list #shoes [multiple]="false" (selectionChange)="onSelectChange($event)">
  <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe" [selected]="selected === shoe">
    {{ shoe }}
  </mat-list-option>
</mat-selection-list>

https://ReventTech@dev.azure.com/ReventTech/Project%20OnyxDoc/_git/OnyxDoc.WebUI
