<div class="relative pb-8">
  <div class="max-w-4xl mx-auto bg-white shadow-sm px-4 sm:px-6 sm:py-32 py-16">
    <div class="flex flex-col items-center justify-center">
      <div class="flex items-center space-x-2 mb-8">
        <h2 class="font-black text-4xl">Thank you</h2>
        <fa-icon icon="rocket" size="2xl" class="text-blue-600"></fa-icon>
      </div>

      <div class="mb-8">
        <div class="text-center">
          <h2 class="font-bold text-blue-600 mb-4">Your Order has been created</h2>
          <p class="text-sm text-gray-700 mb-2">You will get your items in 3 working days.</p>
        </div>

        <table class="w-full sm:w-96">
          <caption class="mb-4">
            <h2 class="font-bold text-lg">Your Orders</h2>
          </caption>

          <thead>
            <tr>
              <th class="text-left">Product</th>
              <th class="text-left">Price</th>
              <th class="text-left">Quantity</th>
              <th class="text-left">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of [1, 2, 3]">
              <td>Product</td>
              <td>{{ 50000 | currency : 'USD' }}</td>
              <td>2</td>
              <td>{{ 100000 | currency : 'USD' }}</td>
            </tr>
          </tbody>
        </table>

        <p class="text-sm text-gray-600 text-center">We hope that you keep shopping with us</p>
      </div>

      <hr />

      <img
        src="https://img.freepik.com/free-vector/thank-you-lettering_1262-6963.jpg?w=2000&t=st=1695114023~exp=1695114623~hmac=305dd06bfe20c836c4db77e62fd4d2617465a013a6a067cb6332ff4f22e83ed6"
        alt=""
        class="w-1/2"
      />
    </div>
  </div>
</div>
