<div class="relative bg-white">
  <div class="bg-gray-200 sm:pt-8">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 sm:py-32 py-16">
      <h2 class="mb-8 font-bold text-3xl">Thank You</h2>

      <div>
        <p>
          @ngrx allows us to break our application into smaller reducers with a
          single area of concern. We can combine these reducers by creating an
          object that mirrors the application's AppState, where each property
          will point to one of those smaller reducers.
        </p>
      </div>
    </div>

    <div>
      <p>I hope you had a greatt experience shopping with us.</p>
    </div>
  </div>
</div>
