<div class="relative bg-white">
  <div class="bg-gray-200 sm:pt-8">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 sm:py-32 py-16">
      <div class="flex items-center space-x-2 mb-8 border">
        <h2 class="font-black text-4xl">Thank You</h2>
        <fa-icon icon="rocket" size="2xl" class="text-indigo-600"></fa-icon>
      </div>

      <div class="mb-8">
        <p>
          @ngrx allows us to break our application into smaller reducers with a
          single area of concern. We can combine these reducers by creating an
          object that mirrors the application's AppState, where each property
          will point to one of those smaller reducers.
        </p>
      </div>

      <div>
        <p appClickAway>I hope you had a greatt experience shopping with us.</p>

        <hr />

        <ng-container class="border-2 border-red-700">
          <div class="border-2 border-indigo-700">Hey friends</div>
        </ng-container>

        <ng-template #heybuddie [ngOutletContext]="context">
          Come in friends {{ context.name }}
        </ng-template>

        <ng-template [ngTemplateOutlet]="heybuddie"> </ng-template>

        <ng-container *ngTemplateOutlet="heybuddie"></ng-container>
      </div>
    </div>
  </div>
</div>
