/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: rgb(255, 255, 208);
  --foreground-rgb: rgb(0, 0, 0);

  --dark-bg-rgb: rgb(0, 0, 0);
  --dark-forecolor-rgb: rgb(255, 255, 255);
}

.dark {
  --background-color: rgb(180, 57, 211);
  --color: rgb(255, 255, 255);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Manrope, Roboto, "Helvetica Neue", sans-serif;
  font-display: swap;
}
