/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/icon?family=Material+Icons&display=swap');

:root {
  --background-rgb: rgb(255, 255, 208);
  --foreground-rgb: rgb(0, 0, 0);

  --dark-bg-rgb: rgb(0, 0, 0);
  --dark-forecolor-rgb: rgb(255, 255, 255);
}

.dark {
  --background-color: rgb(180, 57, 211);
  --color: rgb(255, 255, 255);
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: inherit;
  src: local('Manrope'), local('Manrope-Regular'),
    url(assets/fonts/Manrope/Manrope-VariableFont_wght.ttf) format('truetype');
  font-display: swap;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Manrope, Roboto, 'Helvetica Neue', sans-serif;
}

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
  .mdc-notched-outline__notch {
  border-right-style: hidden;
}

.mySwiper {
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: red !important;
    opacity: 1;
  }
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: red !important;
  opacity: 1;
}
