/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;800&family=Roboto:wght@300;400;500;700;900&display=swap");
// @import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  --background-rgb: rgb(255, 255, 208);
  --foreground-rgb: rgb(0, 0, 0);

  --dark-bg-rgb: rgb(0, 0, 0);
  --dark-forecolor-rgb: rgb(255, 255, 255);
}

.dark {
  --background-color: rgb(180, 57, 211);
  --color: rgb(255, 255, 255);
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"),
    url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2)
      format("woff2");
  font-display: swap;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Manrope, Roboto, "Helvetica Neue", sans-serif;
}
