<div class="flex gap-x-6 py-32">
  <aside class="w-80 border">
    <ul class="sticky top-0">
      <li><a href="">Home</a></li>
      <li><a href="">Home</a></li>
      <li><a href="">Home</a></li>
      <li><a href="">Home</a></li>
      <li><a href="">Home</a></li>
      <li><a href="">Home</a></li>
    </ul>
  </aside>

  <main class="flex-1 border">
    <div class="mb-8">
      <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        veritatis quia delectus! Optio quos ipsum aspernatur aliquam repellat
        rem perspiciatis facere alias consectetur ducimus, asperiores, dolores
        sit corporis odit pariatur.
      </p>
      <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        veritatis quia delectus! Optio quos ipsum aspernatur aliquam repellat
        rem perspiciatis facere alias consectetur ducimus, asperiores, dolores
        sit corporis odit pariatur.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        veritatis quia delectus! Optio quos ipsum aspernatur aliquam repellat
        rem perspiciatis facere alias consectetur ducimus, asperiores, dolores
        sit corporis odit pariatur.
      </p>
    </div>
    <div class="mb-8">
      <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        veritatis quia delectus! Optio quos ipsum aspernatur aliquam repellat
        rem perspiciatis facere alias consectetur ducimus, asperiores, dolores
        sit corporis odit pariatur.
      </p>
      <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        veritatis quia delectus! Optio quos ipsum aspernatur aliquam repellat
        rem perspiciatis facere alias consectetur ducimus, asperiores, dolores
        sit corporis odit pariatur.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        veritatis quia delectus! Optio quos ipsum aspernatur aliquam repellat
        rem perspiciatis facere alias consectetur ducimus, asperiores, dolores
        sit corporis odit pariatur.
      </p>
    </div>
    <div class="mb-8">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        veritatis quia delectus! Optio quos ipsum aspernatur aliquam repellat
        rem perspiciatis facere alias consectetur ducimus, asperiores, dolores
        sit corporis odit pariatur.
      </p>
    </div>
    <div class="mb-8">
      <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        veritatis quia delectus! Optio quos ipsum aspernatur aliquam repellat
        rem perspiciatis facere alias consectetur ducimus, asperiores, dolores
        sit corporis odit pariatur.
      </p>
      <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        veritatis quia delectus! Optio quos ipsum aspernatur aliquam repellat
        rem perspiciatis facere alias consectetur ducimus, asperiores, dolores
        sit corporis odit pariatur.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        veritatis quia delectus! Optio quos ipsum aspernatur aliquam repellat
        rem perspiciatis facere alias consectetur ducimus, asperiores, dolores
        sit corporis odit pariatur.
      </p>
    </div>
    <div class="mb-8">
      <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        veritatis quia delectus! Optio quos ipsum aspernatur aliquam repellat
        rem perspiciatis facere alias consectetur ducimus, asperiores, dolores
        sit corporis odit pariatur.
      </p>
      <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        veritatis quia delectus! Optio quos ipsum aspernatur aliquam repellat
        rem perspiciatis facere alias consectetur ducimus, asperiores, dolores
        sit corporis odit pariatur.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        veritatis quia delectus! Optio quos ipsum aspernatur aliquam repellat
        rem perspiciatis facere alias consectetur ducimus, asperiores, dolores
        sit corporis odit pariatur.
      </p>
    </div>
  </main>
</div>
